body {
    background-color: darkcyan; color:white
}

.form-input {
    padding-top: 10px;
    padding-bottom: 10px;
}

.username{
    font-size: 16px;
    font-weight: 400;
}

table thead,
        tbody,
        th,
        tr,
        td {
            border: white solid 1px;
            padding: 10px;
            border-spacing: 0px;
        }